/*
*
* Copyright (c) 2021 Darryl deHaan
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
  chosen {
    zmk,matrix_transform = &default_transform;
    //zmk,matrix_transform = &five_column_transform;
  };
};

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "r3tex";
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// | LCTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  | ENT  |
// | LSHFT \ |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | RSE  |
//                    | WIN | LALT SPACE | LWR |   | SPACE | RSE  | ALT |
                        bindings = <
   &kp TAB   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
   &kp LCTRL &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &kp RET
   &mt LSHFT NON_US_BACKSLASH &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &mo 2
                   &kp LWIN &mt LALT SPACE &mo 1 &kp SPACE &kp RSHIFT &kp RCTRL
                        >;
                };



                lower_layer {
                        label = "NUM";
// -----------------------------------------------------------------------------------------
// | `    |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | [    |
// | ESC  |     |     |     |     | -   |   | =   |     |     |     |     | '    |
// |LSHIFT| F1  | F2  | F3  | F4  | F5  |   | F6  | F7  | F8  | F9  | F10 |      |
//                    | F11 | F12 |     |   |     | ]   | \   |
                        bindings = <
   &kp GRAVE  &kp N1   &kp N2   &kp N3   &kp N4   &kp N5    &kp N6    &kp N7   &kp N8   &kp N9  &kp N0   &kp LBKT
   &bt ESC    &trans   &trans   &trans   &trans   &kp MINUS &kp EQUAL &trans   &trans   &trans  &trans   &kp APOS
   &kp LSHFT  &kp F1   &kp F2   &kp F3   &kp F4   &kp F5    &kp F6    &kp F7   &kp F8   &kp F9  &kp F10  &trans
                                &kp F11  &kp F12  &trans    &trans    &kp RBKT &kp NON_US_BACKSLASH
                        >;
                };




                raise_layer {
                        label = "NAV";
// -----------------------------------------------------------------------------------------
// |  ESC |  BT1|  BT2|  BT3|  BT4|  BT5|   |     |     |     | UP   |      | DEL  |
// | CTRL |     |     |     |     |     |   | HOME|PGUP | LEFT| RIGHT|      |      |
// | SHFT |     |     |     |     |     |   | END |PGDWN| DOWN|      |      |      |
//                    | LWIN| LALT|     |   | ESC |HOME | END |
                        bindings = <
   &kp  ESC  &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &trans &trans &trans &kp UP &trans &kp DEL
   &kp LCTRL &trans &trans &trans &trans &trans  &kp HOME &kp PG_UP &kp LEFT &kp RIGHT &trans &trans
   &kp LSHFT &trans &trans &trans &trans &trans  &kp END  &kp PG_DN &kp DOWN &trans &trans &trans
                           &kp LWIN &kp LALT &trans &kp ESC &kp HOME &kp END
                        >;
                };
        };
};